.PopupWrapperCss {
  width: 450px;
  text-align: center;
  margin: 0 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  background-color: #eff3f7;
  margin: 0;
}
h1 {
  font-size: 35px;
  font-weight: 600;
  color: #fd5068;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.ImageWrapperCss {
  padding-top: 15px;
  margin: 0 0 5px;
}
img {
  height: 20%;
  width: 20%;
}
.ButtonWrapperCss {
  align-items: center;
}
.addAndRemoveButtons {
  text-align: center;
}

.popUpButton {
  border: 2px solid #fe5068;
  background: linear-gradient(270deg, #ff7456 0%, #fd267d 100%);
  border-radius: 100px;
  color: white;
  width: 240px;
  height: 37px;
  padding: 8px 16px;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  margin: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 15px;
}

.popUpButton:disabled {
  pointer-events: none;
  opacity: 0.5;
}
#removeAllButtons {
  color: #fe5068;
  background: transparent;
}
.notOnTinder {
  display: none;
  color: #f44336;
  font-style: italic;
  font-size: 16px;
}
#messageContainer {
  position: relative;
  left: 35px;
  display: flex;
  align-items: center;
  margin: 0 0 10px;
  transition: 1.5s;
}

textarea {
  position: relative;
  padding-left: 8px;
  padding-right: 50px;
  outline: none;
  vertical-align: middle;
  margin: 0 5px 0;
  resize: none;
  width: 240px;
  height: 30px;
  background: #ffffff;
  border: 0.5px solid #adadad;
  box-sizing: border-box;
  font-family: font92671;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: -0.1px;
  color: #aaaaaa;
}
textarea::-webkit-scrollbar {
  display: none;
}
textarea::placeholder {
  padding: 3px 0px 3px;
  line-height: 18px;
  color: #aaaaaa;
}
#setMessageButton {
  position: relative;
  left: -50px;
  vertical-align: middle;
  background-color: transparent;
  color: black;
  cursor: pointer;
  outline: none;
  text-align: center;
  border: none;
}
#setMessageButton:disabled {
  color: #dfdfdf;
}
/* #setMessageButton {
  vertical-align: middle;
  margin: 0 5px 0;
  border: 1px solid #2196f3;
  background-color: #2196f3;
  color: white;
  width: auto;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: all 0.4s ease;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  text-align: center;
  font-weight: bold;
}
#setMessageButton:hover {
  border: 1px solid #03a9f4;
  background-color: rgba(0, 0, 0, 0);
  color: #03a9f4;
}
#setMessageButton:disabled {
  pointer-events: none;
  opacity: 0.5;
} */
#emojiSelector {
  position: relative;
  outline: none;
  vertical-align: middle;
  height: 31px;
  width: 31px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  background: transparent;
  border: 2px solid #dfdfdf;
  margin: 0;
  padding: 0 6px 0;
  left: -1px;
}

#deletefrompopup {
  position: relative;
  outline: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0 5px 0;
  font-size: 27px;
  font-weight: bold;
  background: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
  color: #fe5068;
  border: none;
  padding: 0;
}

/* #deletefrompopup:hover {
  transition: 0.8s;
  background-color: white;
  color: #f44336;
  transform: rotate(180deg);
} */
#automaticMessageWrapper {
  display: none;
}
.NavBar {
  padding: 4px 2px 4px;
  border: 2px solid #fe5068;
  box-sizing: border-box;
  border-radius: 100px;
  margin: 0 0 30px;
  width: 60%;
  max-height: 40px;
  z-index: 20;
}
.NavBarButton {
  outline: none;
  border: none;
  background-color: transparent;
  font-style: normal;
  font-weight: 600;
  transition: 0.3s;
}
#savedMessages {
  color: white;
}
#automaticMessage {
  color: #fe5068;
}
#noMatchesText {
  display: none;
  color: #b8b8ba;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}
#NavBarScroll {
  position: absolute;
  background: linear-gradient(270deg, #ff7456 0%, #fd267d 100%);
  width: 126px;
  height: 29px;
  border-radius: 100px;
  top: 207px;
  left: 91px;
  transition: 0.3s;
}
#automaticMessageInput {
  margin: 0 0 26px;
}
#automaticMessageButton {
  margin: 0 0 15px;
}
.emojiContainer {
  position: relative;
  height: 28px;
  width: 28px;
  border: 2px solid #dfdfdf;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px 0;
  left: 6px;
}
