.PopupWrapperCss {
  width: 450px;
  text-align: center;
  margin: 0 0 20px;
}
body {
  background-image: linear-gradient(200deg, #ffffff 0%, #84fab0 100%);
  margin: 0;
}
h1 {
  color: #f44336;
  font-family: SEGOE UI;
}
.ImageWrapperCss {
  padding-top: 15px;
  margin: 0 0 20px;
}
img {
  height: 30%;
  width: 30%;
}
.ButtonWrapperCss {
  align-items: center;
}
.addAndRemoveButtons {
  text-align: center;
}

.popUpButton {
  border: 1px solid #2196f3;
  background: #2196f3;
  color: white;
  width: 210px;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  margin: 5px;
  font-weight: bold;
}

.popUpButton:hover {
  border: 1px solid #03a9f4;
  background: #03a9f4;
}
.popUpButton:disabled {
  pointer-events: none;
  opacity: 0.5;
}
.notOnTinder {
  display: none;
  color: #f44336;
  font-style: italic;
  font-size: 16px;
}
#messageContainer {
  display: flex;
  align-items: center;
  padding-left: 137px;
  margin: 0 0 10px;
  transition: 1.5s;
}

#textInput {
  outline: none;
  vertical-align: middle;
  margin: 0 5px 0;
  resize: none;
}
#textInput::-webkit-scrollbar {
  display: none;
}
#setMessageButton {
  vertical-align: middle;
  margin: 0 5px 0;
  border: 1px solid #2196f3;
  background-color: #2196f3;
  color: white;
  width: auto;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: all 0.4s ease;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  text-align: center;
  font-weight: bold;
}
#setMessageButton:hover {
  border: 1px solid #03a9f4;
  background-color: rgba(0, 0, 0, 0);
  color: #03a9f4;
}
#setMessageButton:disabled {
  pointer-events: none;
  opacity: 0.5;
}
#emojiSelector {
  outline: none;
  vertical-align: middle;
  height: 22px;
  width: 50px;
}

#removeAllButtons {
  background-color: #f44336;
  border: 1px solid #f44336;
}
#removeAllButtons:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #f44336;
}

#deletefrompopup {
  outline: none;
  background: #f44336;
  color: white;
  border-radius: 50%;
  margin: 0 5px 0;
  font-size: 15px;
  font-weight: bold;
  transition: 0.8s;
}

#deletefrompopup:hover {
  transition: 0.8s;
  background-color: white;
  color: #f44336;
  transform: rotate(180deg);
}
#automaticMessageWrapper {
  display: none;
}
.NavBar {
  margin: 0 0 20px;
}
.NavBarButton {
  outline: none;
  color: #f44336;
  border: none;
  background-color: transparent;
  font-weight: bold;
  transition: 0.3s;
}
#automaticMessage {
  color: gray;
}
#noMatchesText {
  display: none;
  color: #f44336;
}
